/** Add css rules here for your application. */
.objectImprintViewerWindow
{
	font-size: 10pt;
	font-family: Arial;
}

.objectImprintViewerWindow .objectImprintViewerGridBody
{
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	border-bottom: none;
	border-right: none;
}

.objectImprintViewerGridBody .attrClassCol
{
	background-color: #F6F7F9;
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
}

.objectImprintViewerGridBody .attrValCol
{
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
}